.encounter-builder {
  display: flex;
  height: calc(~"100vh - 52px");
}

.builder {
  width: 55%;
  padding: 20px;

  .start {
    float: right;
  }

  .delete-enemy {
    background-image: url('../img/cancel.png');
    background-size: contain;
    width: 26px;
    height: 26px;
    margin-left: 4px;
    vertical-align: bottom;
  }
}

.bestiary {
  width: 45%;
  border-left: 2px solid black;
  padding: 12px 8px;
}
