.players, .encounters {
  width: 30%;
  margin: 0 16px;
}

.players {
  .level {
    margin-left: 8px;
  }
  .hp {
    margin-left: 8px;
  }
}

.encounter.complete {
  text-decoration: line-through;
}

table {
  border: 1px solid #0D47A1;
}

th {
  border-bottom: 1px solid #0D47A1;
}

td, th {
  margin: 0;
  padding: 0;
}

td > input {
  margin: 0;
  width: 40px;
}
