.players, .encounters {
  width: 30%;
  margin: 0 16px;
}

.players {
  .level {
    margin-left: 8px;
  }
  .hp {
    margin-left: 8px;
  }
}

.encounter.complete {
  text-decoration: line-through;
}

table {
  border: 1px solid @statBlockRule;
}

th {
  color: @statBlockRule;
}

td, th {
  margin: 0;
  padding: 0;
  text-align: center;
}

td > input {
  margin: 0;
  width: 40px;
}
